/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo */
body {
  height: 100vh;
  background: linear-gradient(to bottom, #EAB8EA, #A3C1E0, #B8E3A0);
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

/* Logo da Aplicação */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Cabeçalho */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

/* Link */
.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.App-link:hover {
  color: #52a7db;
}

/* Animação */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
